<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Mandingas</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button
            mat-raised-button
            color="warn"
            (click)="changeStatusBoxCash()"
            disabled="{{ isDisable }}"
          >
            {{ text }}
          </button>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<section *ngIf="isOpen">
  <app-cash-box></app-cash-box>
</section>
